{% extends "base_generic.html" %}

{% block content %}
<form  action={% url 'upload_file' %} method="post" name="uploader" enctype="multipart/form-data">
	{% csrf_token %}
    <div class="input-group mb-3">
        <input id="file" type="file" name="conference" class="form-control" placeholder="Upload an Conference XML" aria-describedby="basic-addon2">
        <input id="file" type="file" name="abstracts" class="form-control" placeholder="Upload an Abstracts XML" aria-describedby="basic-addon2">
        <input id="file" type="file" name="template" class="form-control" placeholder="Upload a Template DOCX" aria-describedby="basic-addon2">
        <input id="file" type="file" name="csv" class="form-control" placeholder="Upload a Matches CSV" aria-describedby="basic-addon2">
        <input id="file" type="file" name="final" class="form-control" placeholder="Upload a final" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" value="Generate book">
        </div>
    </div>
</form>

<script>

    // $("form[name='uploader']").submit(function(e) {
    //     var formData = new FormData($(this)[0]);
    //      $.ajax({
    //         url: 'upload_file',
    //         type: "POST",
    //         data: formData,
    //         async: false,
    //         success: function (msg) {
    //             alert(msg);
    //         },
    //         error: function(msg) {
    //             alert('Ошибка!');
    //         },
    //         cache: false,
    //         contentType: false,
    //         processData: false
    //     });
    // }
</script>

{% endblock %}